<div class="container">
  <div class="row">
    <div class="col-6">
      <input type="text" class="my-2" (keydown)="searchUser($event.target)" />
      <div
        class="bg-secondary text-light pl-3"
        *ngFor="let user of userList$ | async"
      >
        <p>{{ user.hoTen }}</p>
        <p>{{ user.taiKhoan }}</p>
        <p>{{ user.email }}</p>
        <button
          routerLink="/register-detail/{{ user.taiKhoan }}"
          class="btn btn-light"
        >
          Ghi danh
        </button>
        <hr />
      </div>
    </div>
    <div class="col-6">
      <div *ngFor="let course of courses$ | async">
        <p>{{ course.tenKhoaHoc }}</p>
        <p>{{ course.maKhoaHoc }}</p>
        <img
          class="block"
          style="width: 100px"
          src="{{ course.hinhAnh }}"
          alt="..."
        />
        <button routerLink="/register-detail" class="btn btn-dark block">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
